* {
    box-sizing: border-box;
    position: relative;
}

@font-face {
    font-family: 'CMBX10';
    src: url('font/cmbx10.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: monospace, sans-serif;
    margin: 0;
    overflow: hidden;
    /*color: #333343;*/
    color: #333343;
}

.CM {
    font-family: 'CMBX10', sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    background: rgba( 150, 150, 150, 0.3 );
            backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 150, 150, 150, 0.18 );

    z-index: 1000;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1.2px;
}

h1 .big {
    font-size: 1.3em;
}

h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
    text-align: center;
    font-size: 1.0em;
    letter-spacing: 0.5px;
}

h2 .big {
    font-size: 1.3em;
    letter-spacing: 1.3px;
}

#gui {
    position: absolute;
    bottom: -1px;
    right: 0;
    transform: translate(0, 100%);
}

#stats {
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: translate(0, 100%);
}

/* --- */

.katex-display {
    margin: 0;
}

.escalator-label .katex-display{
    font-size: 8pt;
    padding: 2pt;
    border-radius: 3pt;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba( 230, 230, 230, 0.5 );
            backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 100, 100, 100, 0.3 );
}















