* {
    box-sizing: border-box;
    position: relative;
}

@font-face {
    font-family: 'CMBX10';
    src: url('font/cmbx10.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: monospace, sans-serif;
    margin: 0;
    overflow: hidden;
    color: #222232;
}

.CM {
    font-family: 'CMBX10', sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    background: rgba( 250, 250, 250, 0.3 );
            backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 250, 250, 250, 0.3 );

    z-index: 1000;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1.2px;
}

h1 .big {
    font-size: 1.3em;
}

h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
    text-align: center;
    font-size: 1.0em;
    letter-spacing: 0.5px;
}

h2 .big {
    font-size: 1.3em;
    letter-spacing: 1.3px;
}

/* --- */

#stats {
    position: absolute;
    bottom: -0.5px;
    left: 0;
    transform: translate(0, 100%);
    width: 84px !important;
    border-top: none !important;
}

#stats > div {
    background-color: rgba(250, 250, 250, 0.6) !important;
    border: 1px solid rgba(255, 255, 255, 0.9) !important;
    margin: 0 1px !important;
    border-top: none !important;
    border-radius: 0 0 5px 5px !important;
}

#stats > div > div {
    margin: 0 !important;
    text-align: center !important;
}

/* --- */

#gui {
    position: absolute;
    bottom: -1px;
    right: 0;
    transform: translate(0, 100%);
    text-shadow: none;
            backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    user-select: none;
}

#gui li, div.close-button {
    line-height: 28px;
    font-size: 12px;
    font-family: 'CMBX10', monospace, sans-serif;
}

#gui div.close-button {
    line-height: 22px;
    font-size: 11px;
    background: rgba( 230, 230, 230, 0.95 );
            backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    color: rgba( 60, 60, 60, 0.8 );
    border-radius: 0 0 5px 5px;
}

#gui li {
    border-bottom-color: rgba( 100, 100, 100, 0.8 );
}

#gui li:not(.folder){
    margin-left: 0;
}
#gui li.folder{
    border-left: none;
}

#gui li.title,
#gui li.cr.function,
#gui li.cr.number,
#gui li.cr.boolean,
#gui li.cr.string {
    padding-left: 17px;
    background: rgba( 230, 230, 230, 0.95 );
    text-shadow: none;
    color: rgba( 30, 30, 30, 0.9 );
}

#gui select {
    padding: 3px 2px 1px 2px;
    height: 17px;
    background: rgba( 255, 255, 255, 0.1 );
    border: 0.5px solid rgba( 100, 100, 100, 0.8 );
    border-radius: 2px;
}

#gui li.cr.function,
#gui li.cr.number,
#gui li.cr.boolean,
#gui li.cr.string {
    padding-left: 12px;
    background: rgba( 230, 230, 230, 0.8 );
}

#gui .c input[type=text],
#gui .c .slider {
    background: rgba( 255, 255, 255, 0.1 );
    border: 1px solid rgba( 100, 100, 100, 0.8 );
}

#gui .c input[type=text] {
    width: 35%;
    padding-top: 3.2px;
    height: 19px;
}

#gui .c input[type=text]:focus {
    color: rgba( 10, 10, 10, 1.0 );
}

#gui li.cr.function {
    border-left-color: rgb(220, 30, 50);
}
#gui li.cr.boolean {
    border-left-color: rgb(80, 200, 80);
}
#gui li.cr.number {
    border-left-color: rgb(109, 159, 200);
}
#gui  .c .slider-fg {
    background: rgb(109, 159, 209);
}
#gui .c input[type=text] {
    color: rgb(90, 140, 180);
}

#gui ul li.title:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(calc(-50% + 0.5px));
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid rgba( 60, 60, 60, 0.8 );
    transition: transform 0.1s ease-in-out;
    border-radius: 1px;
}

#gui ul.closed li.title:before {
    transform: translateY(calc(-50% + 0.5px)) rotate(-90deg);
}

/* The whole gui is closed */
#gui > ul.closed + div.close-button {
    background: rgba( 150, 150, 150, 0.5 );
    color: #eeeeee;
    opacity: 0.9;
}

/* --- */

.katex-display {
    margin: 0;
}

.escalator-label .katex-display {
    font-size: 8pt;
    padding: 2pt;
    border-radius: 3pt;
    position: absolute;
    bottom: 0;
    background: rgba( 250, 250, 250, 0.6 );
            backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 100, 100, 100, 0.3 );
}

.escalator-label.id .katex-display {
    left: 0;
}
.escalator-label.count .katex-display {
    right: 0;
    color: rgba( 200, 0, 30, 0.8 );
}

/* --- */

#record-indicator {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: rgba(220,15,30);
    font-size: 16px;
    font-family: 'CMBX10';
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.7 );
    padding: 8px 8px 4px 28px;
    border-radius: 4px;
    z-index: 2000;
    opacity: 0.0;
    transition: opacity 0.08s;
}

#record-indicator.recording {
    opacity: 1.0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

#record-indicator:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: rgba(220,15,30);
    animation: blink 0.7s infinite;
    border-radius: 50%;
}

/* --- */



footer {
    font-family: 'CMBX10';
    font-size: 12pt;
    vertical-align: middle;

    display: block;
    position: fixed !important;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -10px);
    z-index: 1000;

    transition: 0.1s;

    border-radius: 6px;
    /*padding: 6px 10px 4px 10px;*/
    border: 1px solid rgba( 255, 255, 255, 0.0 );
}

footer a {
    display: block;
    padding: 7px 10px 4px 10px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    color: rgba(250,250,250,0.5);
    text-decoration: none;
}

footer span.copy-symb {
    vertical-align: middle;
    font-size: 14pt;
    font-family: 'monospace';
}

footer span.github-icon {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background: url('icon/github-white.svg') no-repeat center center;
    background-size: contain;
    opacity: 0;
    transform: translate(-7px, calc(-50% - 1.2px));
    transition: 0.2s;
}

footer:hover {
    background: rgba( 255, 255, 255, 0.2 );
            backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

footer:hover a {
    padding-right: 32px;
    color: rgba(250,250,250,1);
}

footer:hover span.github-icon {
    opacity: 1;
}












